<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
    <ui:include src="../components/nav-header.xhtml"/>
    <h:panelGroup layout="block" styleClass="container">
        <h:panelGroup layout="block" styleClass="row">
            <h:form>
                <ul class="nav nav-tabs">
                    <li class="#{userCabinetController.currentView eq 'bonuses' ? 'active' : ''}">
                        <h:commandLink value="Bonuses"
                                       action="#{userCabinetController.setCurrentView('bonuses')}">
                            <f:ajax execute="@this" render="@form :menu"/>
                        </h:commandLink>
                    </li>
                    <li class="#{userCabinetController.currentView eq 'orders' ? 'active' : ''}">
                        <h:commandLink value="Orders"
                           action="#{userCabinetController.setCurrentView('orders')}">
                            <f:ajax execute="@this" render="@form :menu"/>
                        </h:commandLink>
                    </li>
                </ul>
            </h:form>
        </h:panelGroup>
        <h:panelGroup layout="block" styleClass="row" id="menu">
            <h:panelGroup layout="block"
                          rendered="#{userCabinetController.currentView eq 'orders'}">
                <h2>All Orders</h2>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th width="10%">Order number:</th>
                        <th>For person:</th>
                        <th>Phone:</th>
                        <th>Address:</th>
                        <th>Date:</th>
                        <th width="20%">Pizzas:</th>
                        <th>Bonus:</th>
                        <th width="10%">Total:</th>
                    </tr>
                    <ui:repeat value="#{userCabinetController.orderController.getOrders()}" var="userOrder">
                        <h:panelGroup layout="block" styleClass="row">
                            <tr>
                                <td>#{userOrder.id}</td>
                                <td>#{userOrder.firstName} #{userOrder.lastName}</td>
                                <td>#{userOrder.phoneNumber}</td>
                                <td>#{userOrder.address}</td>
                                <td>
                                    <h:outputText value="#{userOrder.orderDate}">
                                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
                                    </h:outputText>
                                </td>
                                <td>
                                    <table>
                                        <ui:repeat value="#{userCabinetController.orderController.getOrderRowForOrder(userOrder.id)}"
                                                   var="orderRow">
                                            <tr>
                                                <td width="25%" style="text-align: left">X#{orderRow.count}</td>
                                                <td width="50%" style="text-align: left">#{orderRow.pizzaName}</td>
                                                <td width="25%" style="text-align: right">#{orderRow.sizeValue}cm</td>
                                            </tr>
                                        </ui:repeat>
                                    </table>
                                </td>
                                <td>#{userOrder.bonus == null ? 'No bonus' : userOrder.bonus.description}</td>
                                <td>#{userOrder.total div 100}</td>
                            </tr>
                        </h:panelGroup>
                    </ui:repeat>
                </table>
            </h:panelGroup>
            <h:panelGroup layout="block"
                          rendered="#{userCabinetController.currentView eq 'bonuses'}">
                <h2>All Bonuses</h2>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Bonus description</th>
                        <th>Is active</th>
                    </tr>
                    <ui:repeat value="#{userCabinetController.getBonuses()}" var="bonus">
                        <tr>
                            <td>#{bonus.description}</td>
                            <td>#{bonus.active ? 'Active' : 'Inactive'}</td>
                        </tr>
                    </ui:repeat>
                </table>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>
</h:body>
</html>