<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            min-width: 300px;
        }
        table > table > td {
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
</h:head>
<h:body>
    <ui:include src="../components/nav-header.xhtml"/>
    <h:panelGroup layout="block" styleClass="container">
        <h:panelGroup layout="block" styleClass="row">
            <h:form>
                <ul class="nav nav-tabs">
                    <li class="#{adminCabinetController.currentView eq 'processingOrders' ? 'active' : ''}">
                        <h:commandLink value="Processing Orders"
                                       actionListener="#{adminCabinetController.setCurrentView('processingOrders')}">
                        </h:commandLink>
                    </li>
                    <li class="#{adminCabinetController.currentView eq 'confirmedOrders' ? 'active' : ''}">
                        <h:commandLink value="Confirmed Orders"
                                       actionListener="#{adminCabinetController.setCurrentView('confirmedOrders')}">
                        </h:commandLink>
                    </li>
                    <li class="#{adminCabinetController.currentView eq 'users' ? 'active' : ''}">
                        <h:commandLink value="Users"
                                       actionListener="#{adminCabinetController.setCurrentView('users')}">
                        </h:commandLink>
                    </li>
                </ul>
            </h:form>
        </h:panelGroup>
        <h:panelGroup layout="block" styleClass="row" id="menu">
            <h:panelGroup layout="block"
                          rendered="#{adminCabinetController.currentView eq 'processingOrders'}">
                <table id="tbl" class="table table-striped table-hover table-bordered">
                    <tr>
                        <th width="10%">Order number:</th>
                        <th>For person:</th>
                        <th>Phone:</th>
                        <th>Address:</th>
                        <th>Date:</th>
                        <th width="20%">Pizzas:</th>
                        <th>Bonus:</th>
                        <th width="10%">Total:</th>
                        <th>Confirm:</th>
                    </tr>
                    <ui:repeat value="#{adminCabinetController.orderController.getProcessingOrders()}" var="userOrder">
                        <h:panelGroup layout="block" styleClass="row">
                            <tr>
                                <td>#{userOrder.id}</td>
                                <td>#{userOrder.firstName} #{userOrder.lastName}</td>
                                <td>#{userOrder.phoneNumber}</td>
                                <td>#{userOrder.address}</td>
                                <td>
                                    <h:outputText value="#{userOrder.orderDate}">
                                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
                                    </h:outputText>
                                </td>
                                <td>
                                    <table>
                                        <ui:repeat value="#{adminCabinetController.orderController.getOrderRowForOrder(userOrder.id)}"
                                                   var="orderRow">
                                            <tr>
                                                <td width="25%" style="text-align: left">X#{orderRow.count}</td>
                                                <td width="50%" style="text-align: left">#{orderRow.pizzaName}</td>
                                                <td width="25%" style="text-align: right">#{orderRow.sizeValue}cm</td>
                                            </tr>
                                        </ui:repeat>
                                    </table>
                                </td>
                                <td>#{userOrder.bonus == null ? 'No bonus' :  userOrder.bonus.description}</td>
                                <td>#{userOrder.total div 100}</td>
                                <td>
                                    <h:form>
                                        <h:commandButton action="#{adminCabinetController.orderController.confirmOrder(userOrder.id)}"
                                                         value="Confirm"
                                                         styleClass="btn btn-primary">
                                        </h:commandButton>
                                        <h:commandButton action="#{adminCabinetController.orderController.cancelOrder(userOrder.id)}"
                                                         value="Cancel"
                                                         styleClass="btn btn-danger">
                                        </h:commandButton>
                                    </h:form>
                                </td>
                            </tr>
                        </h:panelGroup>
                    </ui:repeat>
                </table>
            </h:panelGroup>
            <h:panelGroup layout="block"
                          rendered="#{adminCabinetController.currentView eq 'confirmedOrders'}">
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th width="10%">Order number:</th>
                        <th>For person:</th>
                        <th>Phone:</th>
                        <th>Address:</th>
                        <th>Date:</th>
                        <th width="20%">Pizzas:</th>
                        <th>Bonus:</th>
                        <th width="10%">Total:</th>
                    </tr>
                    <ui:repeat value="#{adminCabinetController.orderController.getConfirmedOrders()}" var="userOrder">
                        <h:panelGroup layout="block" styleClass="row">
                            <tr>
                                <td>#{userOrder.id}</td>
                                <td>#{userOrder.firstName} #{userOrder.lastName}</td>
                                <td>#{userOrder.phoneNumber}</td>
                                <td>#{userOrder.address}</td>
                                <td>#{userOrder.orderDate}</td>
                                <td>
                                    <table>
                                        <ui:repeat value="#{adminCabinetController.orderController.getOrderRowForOrder(userOrder.id)}"
                                                   var="orderRow">
                                            <tr>
                                                <td width="25%" style="text-align: left">X#{orderRow.count}</td>
                                                <td width="50%" style="text-align: left">#{orderRow.pizzaName}</td>
                                                <td width="25%" style="text-align: right">#{orderRow.sizeValue}cm</td>
                                            </tr>
                                        </ui:repeat>
                                    </table>
                                </td>
                                <td>#{userOrder.bonus == null ? 'No bonus' :  userOrder.bonus.description}</td>
                                <td>#{userOrder.total div 100}</td>
                            </tr>
                        </h:panelGroup>
                    </ui:repeat>
                </table>
            </h:panelGroup>
            <h:panelGroup layout="block"
                          rendered="#{adminCabinetController.currentView eq 'users'}">
                <h:form>
                    <table class="table table-striped table-hover table-bordered">
                        <ui:repeat value="#{adminCabinetController.getAllUser()}" var="user">
                            <tr>
                                <td>#{user.login}</td>
                                <td>#{user.role.roleName}</td>
                            </tr>
                        </ui:repeat>
                    </table>
                </h:form>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>
</h:body>
</html>