<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            min-width: 300px;
        }
    </style>
</h:head>
<h:body>
    <ui:include src="../components/nav-header.xhtml"/>
    <h:panelGroup layout="block" styleClass="container">
        <h:panelGroup layout="block" styleClass="row">
            <h:panelGroup layout="block" styleClass="col-sm-12 col-md-10 col-md-offset-1">
                <h:form>
                    <h:panelGroup layout="block" styleClass="form-group">
                        <h:outputLabel for="pizzaName" value="Pizza Name:"/>
                        <h:inputText label="Pizza Name" styleClass="form-control" value="#{pizzaController.pizza.name}"
                                     id="pizzaName" required="true" requiredMessage="This field is required"/>
                        <h:message for="pizzaName"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="form-group">
                        <h:outputLabel for="priceFor30" value="Price for 30cm:"/>
                        <p:inputMask label="Price for 30cm" styleClass="form-control" value="#{pizzaController.priceFor30}"
                                     id="priceFor30" required="true" requiredMessage="This field is required"
                                     maxlength="5" mask="999.99"
                                     converter="priceConverter"/>
                        <h:message for="priceFor30"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="form-group">
                        <h:outputLabel for="priceFor40" value="Price for 40cm:"/>
                        <p:inputMask label="Pizza Name" styleClass="form-control" value="#{pizzaController.priceFor40}"
                                     id="priceFor40" required="true" requiredMessage="This field is required"
                                     maxlength="5" mask="999.99"
                                     converter="priceConverter"/>
                        <h:message for="priceFor40"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="form-group">
                        <h:outputLabel for="pizzaDescription" value="Pizza Description:"/>
                        <h:inputText label="Pizza Name" styleClass="form-control" value="#{pizzaController.pizza.description}"
                                     id="pizzaDescription" required="true" requiredMessage="This field is required"/>
                        <h:message for="pizzaDescription"/>
                    </h:panelGroup>

                    <h:commandButton value="Save" styleClass="btn btn-primary"
                                     actionListener="#{pizzaController.savePizza()}"
                                     action="#{navigationController.navigateToIndex()}">
                    </h:commandButton>
                </h:form>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>
</h:body>
</html>