<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .login-container {
            max-width: 350px;
        }
        .center {
            margin: 0 auto;
        }
    </style>
</h:head>
<h:body>
    <h:panelGroup layout="block" styleClass="container">
        <h:panelGroup layout="block" styleClass="row">
            <h:panelGroup layout="block" styleClass="login-container center">
                <h:form styleClass="form-signin">
                    <h2 class="form-signin-heading">Please enter data</h2>
                    <h:panelGroup layout="block" styleClass="form-group">
                        <h:outputLabel for="userName" value="Login: " />
                        <h:inputText  label="userName" styleClass="form-control" value="#{registrationController.userName}"
                                      id="userName" required="true" requiredMessage="This field is required"
                                      maxlength="12" validator="#{existUserValidator.validate}">
                        </h:inputText>
                        <h:message for="userName"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="form-group">
                        <h:outputLabel for="password" value="Password: " />
                        <h:inputSecret label="Last Name" styleClass="form-control" value="#{registrationController.password}"
                                       id="password" required="true" requiredMessage="This field is required"
                                       maxlength="12"/>
                        <h:message for="password"/>
                    </h:panelGroup>

                    <h:commandButton styleClass="btn btn-primary" value="Submit" type="submit"
                                     action="#{navigationController.navigateToIndex()}"
                                     actionListener="#{registrationController.register()}"/>

                    <h:link styleClass="btn btn-default" value="Main Page"
                                     outcome="#{navigationController.navigateToIndex()}"/>
                </h:form>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>
</h:body>
</html>