<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
    <ui:include src="../components/nav-header.xhtml"/>
    <div class="container">
        <h:form styleClass="form-signin">
            <h2 class="form-signin-heading">Bonus edit</h2>
            <h:panelGroup layout="block" styleClass="form-group">
                <h:outputLabel for="bonusDescription" value="Bonus Description: " styleClass="sr-only"/>
                <h:inputText label="bonusDescription" styleClass="form-control" value="#{bonusController.bonusDescription}"
                             id="bonusDescription" required="true" requiredMessage="This field is required"/>
                <h:message for="bonusDescription"/>
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="form-group">
                <h:outputLabel for="postContent" value="Post Content: " styleClass="sr-only"/>
                <h:inputText label="postContent" styleClass="form-control" value="#{bonusController.postContent}"
                               id="postContent" required="true" requiredMessage="This field is required"/>
                <h:message for="postContent"/>
            </h:panelGroup>

            <h:commandButton styleClass="btn btn-primary" value="Save" type="submit"
                             action="#{navigationController.navigateToBonusPage()}"/>
        </h:form>
    </div>
</h:body>
</html>
