<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
    <ui:include src="../components/nav-header.xhtml"/>
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">#{bonusController.bonusDescription}</div>
                <div class="panel-body">#{bonusController.postContent}</div>
            </div>
            <h:form>
                <h:commandLink value="Take Part" rendered="#{request.isUserInRole('ROLE_USER')}"
                                 styleClass="btn btn-danger"
                                 action="#{navigationController.navigateToUserCabinet()}"
                                 actionListener="#{postReceiverController.receiveMessage()}">
                </h:commandLink>
                <h:commandButton value="Send bonuses" rendered="#{request.isUserInRole('ROLE_ADMIN')}"
                                 styleClass="btn btn-danger"
                                 action="#{postsController.sendMessage()}"/>
                <h:commandButton value="Edit Post" rendered="#{request.isUserInRole('ROLE_ADMIN')}"
                                 styleClass="btn btn-primary"
                                 action="#{navigationController.navigateToEditBonusPage()}"/>
            </h:form>
        </div>
    </div>
</h:body>
</html>
