<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css"/>
</h:head>
<h:body>
    <ui:composition>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid" id="nav-header">
                    <div class="navbar-header" >
                        <a class="navbar-brand" href="#">PizzaService</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><h:link value="Home" outcome="#{navigationController.navigateToIndex()}"/></li>
                            <li>
                                <h:link rendered="#{request.isUserInRole('ROLE_ADMIN')}"
                                        value="Admin Profile"
                                        outcome="#{navigationController.navigateToAdminCabinet()}"/>
                            </li>
                            <li>
                                <h:link rendered="#{request.isUserInRole('ROLE_USER')}"
                                        value="Profile"
                                        outcome="#{navigationController.navigateToUserCabinet()}"/>
                            </li>
                            <li>
                                <h:link rendered="#{request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN')}"
                                        value="Bonus"
                                        outcome="#{navigationController.navigateToBonusPage()}"/>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <h:link rendered="#{request.isUserInRole('ROLE_USER') and authController.isLoggedIn()}"
                                        outcome="#{navigationController.navigateToUserCabinet()}" value="User: #{request.remoteUser}"/>
                            </li>
                            <li>
                                <h:link rendered="#{request.isUserInRole('ROLE_ADMIN') and authController.isLoggedIn()}"
                                        outcome="#{navigationController.navigateToAdminCabinet()}" value="User: #{request.remoteUser}"/>
                            </li>
                            <li>
                                <h:link id="cart-id" rendered="#{!request.isUserInRole('ROLE_ADMIN')}"
                                        value="Shopping Cart: #{shoppingCart.getShoppingCartSize()} items"
                                        outcome="#{navigationController.navigateToShoppingCartPage()}"/>
                            </li>
                            <li>
                                <h:link value="Register" rendered="#{!authController.isLoggedIn()}" outcome="#{navigationController.navigateToRegistrationPage()}"/>
                            </li>
                            <li>
                                <ui:fragment rendered="#{!authController.isLoggedIn() and request.getRequestURI().contains('index')}">
                                    <h:form style="padding: 10px">
                                        <h:commandButton
                                                         value="Log In"
                                                         styleClass="btn btn-sm btn-primary"
                                                         action="#{navigationController.navigateToLoginPage()}"/>
                                    </h:form>
                                </ui:fragment>
                            </li>
                            <li>
                                <ui:fragment rendered="#{authController.isLoggedIn()}">
                                    <h:form style="padding: 10px">
                                        <h:commandButton
                                                         value="Log Out"
                                                         styleClass="btn btn-sm btn-primary"
                                                         action="#{authController.doLogout()}"/>
                                    </h:form>
                                </ui:fragment>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </ui:composition>
</h:body>
</html>
