<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            min-width: 300px;
        }
    </style>
</h:head>
<h:body>
    <ui:composition>
        <h:panelGroup layout="block" styleClass="container">
            <h:panelGroup layout="block" styleClass="row">
                <h:panelGroup layout="block" styleClass="col-sm-12 col-md-10 col-md-offset-1">
                    <h:form>
                        <h:panelGroup layout="block" styleClass="form-group">
                            <h:outputLabel for="firstName" value="First Name:"/>
                            <h:inputText label="First Name" styleClass="form-control" value="#{orderController.userOrder.firstName}"
                                         id="firstName" required="true" requiredMessage="This field is required"/>
                            <h:message for="firstName"/>
                        </h:panelGroup>

                        <h:panelGroup layout="block" styleClass="form-group">
                            <h:outputLabel for="lastName" value="Last Name:"/>
                            <h:inputText label="Last Name" styleClass="form-control" value="#{orderController.userOrder.lastName}"
                                         id="lastName" required="true" requiredMessage="This field is required"/>
                            <h:message for="lastName"/>
                        </h:panelGroup>

                        <h:panelGroup layout="block" styleClass="form-group">
                            <h:outputLabel for="phoneNumber" value="Phone number:"/>
                            <h:inputText label="Phone Number" styleClass="form-control" value="#{orderController.userOrder.phoneNumber}"
                                         id="phoneNumber" required="true" requiredMessage="This field is required"
                                         onkeypress="if(event.which > 31 &amp;&amp; (event.which &lt; 48 || event.which > 57)) return false;">
                            </h:inputText>
                            <h:message for="phoneNumber"/>
                        </h:panelGroup>

                        <h:panelGroup layout="block" styleClass="form-group">
                            <h:outputLabel for="address" value="Address:"/>
                            <h:inputText label="Address" styleClass="form-control" value="#{orderController.userOrder.address}"
                                         id="address" required="true" requiredMessage="This field is required"/>
                            <h:message for="address"/>
                        </h:panelGroup>

                        <h:selectOneMenu value="#{orderController.bonusId}" rendered="#{request.isUserInRole('ROLE_USER')}">
                            <f:selectItem itemLabel="Select a Bonus" itemValue="#{null}" />
                            <f:selectItems value="#{request.isUserInRole('ROLE_USER') ? orderController.getActiveBonusesByUser() : ''}" var="bonus"
                                itemLabel="#{bonus.description}" itemValue="#{bonus.id}"/>
                        </h:selectOneMenu>

                        <h:commandButton disabled="#{shoppingCart.pizzasInCart.size() == 0}"
                                         styleClass="btn btn-primary" value="Submit" type="submit"
                                         actionListener="#{orderController.createOrder(shoppingCart.pizzasInCart)}"
                                         action="#{navigationController.navigateToIndex()}"/>
                    </h:form>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
    </ui:composition>
</h:body>
</html>