<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css"/>
</h:head>
<h:body>
    <ui:composition>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h:form>
                        <h:commandButton action="#{navigationController.navigateToPizzaAddPage()}"
                                         value="Add" styleClass="btn btn-danger margin-bottom"
                                         rendered="#{request.isUserInRole('ROLE_ADMIN')}"/>
                    </h:form>
                </div>
            </div>
            <ui:repeat value="#{pizzaController.getAllPizzas()}" var="pizza">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            #{pizza.name}
                            <h:form>
                                <h:commandButton rendered="#{request.isUserInRole('ROLE_ADMIN')}"
                                                 value="Edit"
                                                 styleClass="btn btn-danger margin-buttons"
                                                 action="#{navigationController.navigateToPizzaEditPage(pizza.id)}"/>
                                <h:commandButton rendered="#{request.isUserInRole('ROLE_ADMIN')}"
                                                 value="Delete"
                                                 styleClass="btn btn-danger margin-buttons"
                                                 action="#{navigationController.navigateToIndex()}"
                                                 actionListener="#{pizzaController.removePizza(pizza.id)}">
                                    <f:ajax execute="@this" render="@form :pizza-panel"/>
                                </h:commandButton>
                            </h:form>
                        </div>
                        <div class="panel-body" id="pizza-panel">
                            <div class="row">
                                <div class="col-md-12">
                                    <h:graphicImage styleClass="center-block" library="images" name="pizza.png"
                                                    style="height: 200px; width: 200px"/>
                                </div>
                            </div>
                            <div class="row text-center" style="padding: 10px; height: 70px; overflow: hidden;">
                                #{pizza.description}
                            </div>
                            <ui:repeat value="#{pizzaController.getSizeKeyList(pizza)}" var="key">
                                <div class="row">
                                    <div class="col-xs-6">
                                        Size: #{key}cm <br/>Price: #{pizza.prices[key] div 100}$<br/>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="pull-right">
                                            <h:form>
                                                <h:commandLink value="Add" type="button"
                                                               styleClass="btn btn-primary"
                                                               disabled="#{request.isUserInRole('ROLE_ADMIN')}"
                                                               action="#{shoppingCart.add(shoppingCart.createShopCartItem(pizza, key))}">
                                                    <f:ajax execute="@this" render="@form :cart-id" />
                                                </h:commandLink>
                                            </h:form>
                                        </div>
                                    </div>
                                </div>
                            </ui:repeat>
                        </div>
                    </div>
                </div>
            </ui:repeat>
        </div>
    </ui:composition>
</h:body>
</html>