<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css"/>
</h:head>
<h:body>
    <ui:composition>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <h:form>
                        <table id="table" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Count</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            <ui:repeat value="#{shoppingCart.getItemKeyList()}" var="item">
                                <tr>
                                    <td class="col-sm-8 col-md-6">
                                        <div class="media">
                                            <a class="thumbnail pull-left" href="#">
                                                <img class="media-object"
                                                     src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                                                     style="width: 72px; height: 72px;" alt="item-icon"></img> </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">#{item.name}</a></h4>
                                                <h5 class="media-heading">Size: #{item.size}</h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-1 col-md-1" style="text-align: center">
                                        <div class="row">
                                            <h:commandLink type="button" styleClass="btn btn-sm"
                                                           action="#{shoppingCart.incrementItemCount(item)}">
                                                <span class="glyphicon glyphicon-plus"/>
                                                <f:ajax execute="@this"
                                                        render="@form :cart-id"
                                                        onevent="getCalculatedValue"/>
                                            </h:commandLink>
                                            <h:inputText id="countField"
                                                         converter="countConverter"
                                                         styleClass="form-control text-center"
                                                         value="#{shoppingCart.pizzasInCart[item]}"
                                                         min="1"
                                                         maxlength="4"
                                                         readonly="true"
                                                         required="true"
                                                         requiredMessage="Required field"
                                                         validatorMessage="Must be in range 1-9999">
                                                <f:validateLongRange minimum="1" maximum="9999" />
                                            </h:inputText>
                                            <h:commandLink type="button" styleClass="btn btn-sm"
                                                           action="#{shoppingCart.decrementItemCount(item)}">
                                                <span class="glyphicon glyphicon-minus"/>
                                                <f:ajax execute="@this"
                                                        render="@form :cart-id"
                                                        onevent="getCalculatedValue"/>
                                            </h:commandLink>
                                        </div>
                                        <span>
                                            <h:message for="countField"/>
                                        </span>
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center">
                                        <strong class="item-price">
                                            #{item.price div 100}
                                        </strong><span>$</span>
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center">
                                        <strong class="total-item-cost">
                                            #{shoppingCart.calculateTotalItemPrice(item) div 100}
                                        </strong><span>$</span>
                                    </td>
                                    <td class="col-sm-1 col-md-1">
                                        <h:commandLink  type="button" styleClass="btn btn-danger" action="#{shoppingCart.remove(item)}">
                                            <span class="glyphicon glyphicon-remove"></span>Remove
                                            <f:ajax execute="@this"
                                                    render="@form :cart-id"
                                                    onevent="getCalculatedValue"/>
                                        </h:commandLink>
                                    </td>
                                </tr>
                            </ui:repeat>

                            <tr>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td><h3>Total</h3></td>
                                <td class="text-right"><h3><strong id="total"></strong><span>$</span></h3></td>
                            </tr>
                            <tr>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                                <td>
                                    <h:commandLink type="button" styleClass="btn btn-default"
                                                   action="#{navigationController.navigateToIndex()}">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                    </h:commandLink>
                                </td>
                                <td>
                                    <h:commandButton disabled="#{shoppingCart.pizzasInCart.size() == 0}"
                                                     action="#{navigationController.navigateToOrderForm()}"
                                                     styleClass="btn btn-success"
                                                     value="Order">
                                    </h:commandButton>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </h:form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            window.onload = function() {
                getCalculatedValue();
                var inputs = document.getElementsByClassName("form-control");
                for(var i = 0; i &lt; inputs.length; i++) {
                    (function(self) {
                       self.addEventListener('keyup', function() {
                           var parent = self;
                           while ((parent = parent.parentElement) &amp;&amp; !(parent.tagName === "TR"));
                           var totalCostField = parent.getElementsByClassName("total-item-cost")[0];
                           var itemPrice = parent.getElementsByClassName("item-price")[0].innerHTML;
                           totalCostField.innerHTML = (itemPrice * 100 * self.value) / 100; // * 100 -> int
                           getCalculatedValue();
                       });
                    })(inputs[i]);
                }
            };

            function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 &amp;&amp; (charCode &lt; 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }

            function getCalculatedValue() {
                var totalItemCostValues = document.getElementsByClassName("total-item-cost");
                var result = 0;
                for(var i = 0; i &lt; totalItemCostValues.length; i++) {
                    result += totalItemCostValues[i].innerHTML * 100;
                }
                var totalValueField = document.getElementById("total");
                totalValueField.innerHTML = result / 100;
            }
        </script>
    </ui:composition>
</h:body>
</html>