<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="#{facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .error-block {
            max-width: 350px;
            margin: 0 auto;
        }
    </style>
</h:head>
<h:body>
    <h:panelGroup layout="block" styleClass="container">
        <h:panelGroup layout="block" styleClass="row">
            <h:panelGroup layout="block" styleClass="error-block">
                <p>Cant find user with this params. Try again.</p>
                <h:link styleClass="btn btn-primary" outcome="#{navigationController.navigateToLoginPage()}" value="LogIn"/>
                <h:link styleClass="btn btn-default" outcome="#{navigationController.navigateToIndex()}" value="Main page"/>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>
</h:body>
</html>